@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg-wellcome {
  background-color:#010717;
  background-image: radial-gradient(at 0% 0%, hsla(206,100%,12%,1) 0, transparent 30%), radial-gradient(at 100% 0%, hsla(271,100%,14%,1) 0, transparent 50%);
}

.gradient-bg-services {
  background-color:#010717;
  background-image: radial-gradient(at 75% 100%, hsla(206,100%,12%,1) 0, transparent 30%), radial-gradient(at 0% 100%, hsla(271,100%,14%,1) 0, transparent 50%);
}

.eth-card {
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.text-gradient {
  background-image: linear-gradient(55deg, #ffffff, #292929);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-glassmorphism {
  background: rgba( 53, 9, 118, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 18px );
  -webkit-backdrop-filter: blur( 18px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card-form {
  backdrop-filter: blur(7px) saturate(149%);
  -webkit-backdrop-filter: blur(10px) saturate(149%);
  background-color: rgba(245, 253, 255, 0.06);
  border-radius: 12px;
  border: 1px solid rgba(245, 253, 255, 0.08);
}

.blue-input-morphism {
  background-color: rgba(190, 190, 190, 0.06);
}